@media only screen and(min-width:31.25em) {
    nav ul li{
        width:33%;
    }

    #section1{
        width:43%;
    }

    #section2{
        width:43%;
    }

    #section3{
        clear:both;
        float:none;
        width:90%;
        margin:0 1em 1em 1.5em;
    }
    #section3 img{
        float:left;
        width:30%;
        margin:05em 1em 1em 0;
    }

    article{
        min-width:600px;
    }

}

@media screen and(max-width:31.25em) {

    header h1{
        font-size:40px;
        text-align:center;
        padding:0;
    }
    nav ul li{
        width:50%;
    
    }

    #section1{
        width:90%;
        margin:0;
        float:none;

    }

    #section2{
        width:90%;
        margin:0;
        float:none;

    }

    #section3{
        width:90%;
        margin:0;
        float:none;

    }
   
    article{
        min-width:300px;
    }

}
